.itemDisplay {
    background-color:#393939;
    color:white;
    font-family:Segoe UI;
    box-sizing: border-box;
    height:18vw;
    width:17vw!important;
    font-size:1vw;
    margin:10px;
    float:left;
    border-top-style:solid ;
}
.itemText {
    margin:0.5vw;
}
.setupAddButton {
    font-size:0.25vs;
    width:5vs;
    align-self: center;
    margin:5px
}
.setupRemoveButton {
    font-size:0.25vs;
    width:5vs;
    align-self: center;
    margin:5px;
}
.buttonDisplay {
    border-style:outset;
    margin:0.25vw;
    width:10vw;
}
.layoutDisplay {
    margin:0.25vw;
    height:2vw;
    width:8vw;
}
.layoutText {
    margin:0.1vw;
}
#uiDisplay {
    position: fixed;
    width:15vw;
    border-right-style:solid;
    height:1000px;
    overflow: auto;
    background-color: white;
    margin-top:0vw;
}
.valueDisplay {
    border-bottom-style:solid;
}
.value {
    float:left;
    font-size:1.5vw;
    margin-right:2vw;
}